.bk-img  {
    width: 100%;
    height: 100vh;
    background-color: rgb(151, 151, 182);
    background: url("./images/main.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.main {
    width: 40%;
    height: 70%;
    background-color: rgb(151, 151, 182);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    
}
.logoContainer {
    width: 40%;
    

}
.logo {
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5%;
}
.btn {
    width: 40%;
    background-color: rgb(54, 54, 56);
    color: white;
    border: 1px solid rgb(54, 54, 56);;
}
.hover {
    background-color: aliceblue;
}